@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
    --imagen: url(imagenes/Gato.jpg);
    --gradiente-hero: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 1px solid red;
}



/*Barra de navegacion*/
.navbar {
    height: 10vh;
    padding: 1rem;
    box-shadow: 0px 0px 20px 0px #0000002c;
    background-color: #ffffff;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul__navbar {
    gap: 15px;
}

.logo {
    width: 40px;
    border-radius: 50%;
    display: block;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Raleway';
}

section {
    /*todos los secciones*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Seccion del Hero*/

.hero {
    height: 90vh;
}

.hero__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
}

.hero__imagen__contenedor {
    width: 50vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero__imagen__fondo {
    width: 100%;
    height: 100%;
    display: block;
}

.hero__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 50%;
}

.hero__title {
    font-size: 40px;
    font-weight: bold;
}

.hero__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

li a {
    text-decoration: none;
}


.seccion__oscura {
    color: #f5f6f7;
    background-color: #1b1b32;
}


/*Sobre mi*/

.sobre__mi {
    height: 500px;
}

.sobre__mi__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 750px;
    text-align: center;
}

.seccion__titulo {
    font-family: 'Raleway';
    font-size: 2.2rem;
    margin: 0;
    padding: 15px 0px;
}

.seccion__textos {
    font-size: 1.3rem;
    margin: 0;
    line-height: 45px;
}

/*Experiencia*/
.experiencia {
    height: 650px;
    margin: 0;
}

.experiencia__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.experiencia__barras__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin: 20px;
    text-transform: capitalize;

}

.experiencia__titulo {
    text-align: center;
    font-weight: bold;
    font-size: 2.7rem;
    margin-bottom: 20px;
    padding: 1px;
}

.experiencia__titulos {
    margin: 0;
    width: 18%;
}

.progress {
    width: 100%;
}



/* Proyectos */
.proyectos__recientes {
    padding: 40px;
    padding-bottom: 90px;
}



.proyectos__recientes img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
    padding: 10px;
    transition: all 0.2s ease-in;
    /*desvanecer imagen*/
}

.proyectos-contenedor {
    margin-bottom: 40px;
}

.seccion-titulo {
    font-weight: bold;
    font-size: 2.7rem;
    margin: 30px;
}

.seccion__descripcion {
    font-size: 1.2rem;
    color: #584e4e;
    margin-bottom: 40px;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.2s ease;
    /*aparicion texto*/
}

.proyecto {
    position: relative;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
}

.overlay i {
    color: #1b1b32;
    font-size: 60px;
    margin: 10px;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

/*General*/
.texto-negro {
    color: #1b1b32;
}

.texto-blanco {

    color: #f5f6f7
}

/* Articulos */
.articulos {
    min-height: 500px;
    padding: 90px;
}

.card-header {
    font-weight: bold;
}


.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;

}


/*Carrusel*/
.testimonios {
    padding: 40px;
}

.carousel {
    max-width: 800px;
    margin-top: 20px;
}

.carousel-item {
    height: 500px;
}


/*Adaptable Media querys*/

@media screen and (max-with:767px) {

    .navbar-brand {
        display: none;
    }

}

@media screen and (min-width:700px) {
    .hero__inferior__imagen {
        max-width: 700px;
    }
}