<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="imagenes/icono.png" type="image/x-icon">
    <!-- metadatos -->
    <meta charset="UTF-8">
    <meta name="author" content="carlos">
    <meta name="Description" content="Practica de ligia">
    <meta name="keywords" content="bootstrap, css, html">
    <link rel="stylesheet" href="css/bootstrap.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Icono de Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/estilos.css">
    <link rel="stylesheet" href="../static/login.css">




    <title>{%block title%} {%endblock%}</title>

    {%block loginhead%} {%endblock%}

</head>

<body>

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-sm navbar-light"> <!--Cambiado a sm y navbar-light -->
        <div class="container-fluid d-flex"> <!--Comportamiento del contenedor al 100%-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-toggler"> <!--contenedor del icono y enlaces-->

                <a class="navbar-brand" href="/"> <!--imagen de inicio-->
                    <img src="../static/imagenes/Patin.jpg" width="40" alt="Logo de la pagina web" class="logo">
                </a>

                <ul class="navbar-nav ul__navbar d-flex justify-content-center align-items-center">
                    <!--Crear flex y alinear-->
                    <li class="nav-item">
                        <a class="nav-link" href="/sobremi">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/experiencia">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/certificados">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Resgistrase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/choterifa">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/Choterifa">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    {%block index%}
    {%endblock%}

    {%block hero%}
    {%endblock%}

    {%block sobremi%}
    {%endblock%}

    {%block experiencia%}
    {%endblock%}

    {%block certificados%}
    {%endblock%}

    {%block login%}
    {%endblock%}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

</body>

</html>