{%extends 'base.html'%} <!--extneide de base-->

{%block title%} Certificados {%endblock%}



{%block certificados%}
<section class="proyectos__recientes seccion__clara d-flex flex-column" id="proyectos">
    <h2 class="seccion-titulo texto-negro">Mis certificados recientes</h2>
    <h3 class="seccion__descripcion ">Estos son algunos de los cursos que he tomado</h3>

    <!--Galeria de proyectos-->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/2. Fundamentos de Ciberseguridad II.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 1</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/certifado html.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 2</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/3. Gestión y gobierno de la seguridad.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 3</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/certificado css.png " alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 4</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/3. Gestión y gobierno de la seguridad.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 5</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="galeria__imagenes col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/4. Pentesting.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 6</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-primary">Ver más proyectos
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </a>

</section>


{%endblock%}