{%extends 'base.html'%} <!--extneide de base-->

<!--titulo de la pagina-->
{%block title%} Experiencia {%endblock%}

{%block experiencia%}
<!--Experiencias-->
<section class="experiencia">
    <div class="experiencia__container">

        <h2 class="experiencia__titulo">Mi experiencia</h2>
        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">html</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%"></div>
            </div>
        </div>

        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">css</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
            </div>
        </div>

        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">Boostrap</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
            </div>
        </div>

        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">flask</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%"></div>
            </div>
        </div>

        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">python</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 15%"></div>
            </div>
        </div>

        <div class="experiencia__barras__container">
            <p class="experiencia__titulos">Ser buena onda</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 110%"></div>
            </div>
        </div>


    </div>

</section>

{%endblock%}